* {
    margin: 0;
    padding: 0;
}

/*SCSS del index versión de escritorio*/

header {
    position: sticky;
    top: 0%;
    left: 0%;
}

.colorheader {
    background-color: #316b83 !important;
}

.colorletraheader {
    color: aliceblue;
}

.SalvandoPotatos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-size: x-large;    
    height: 220px;
    --bs-gutter-x: 0;
    padding-left: 10px;
    background-color: #6D8299;
}

.Otrafoto {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

h4 {
    font-style: italic;
    font-size: x-large;
}

.fondodeseccion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-image: url(/Imagenes/palacio-justicia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #6D8299;
    background-blend-mode: multiply;
    min-height: 500px;
}

.divdelafoto {
    display: flex;
    justify-content: center;
}

.foto {
    border-radius: 50%;
    max-width: 500px;
}

.fondodeparrafo {
    background-color: #8CA1A5;
    padding: 10px;   
}

.parrafoExplicativo {
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

.boton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin heigthdecard {
    max-height: 250px;
}

.fotodecard {
    @include heigthdecard;
}

footer {
    background-color: #D5BFBF;
    color: rgb(12, 14, 15);
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: auto;
}

.matamargen {
    margin: 0%;
}

/*SCSS de valor UMA versión escritorio*/

.valoruma-tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;   
    background-color: #8CA1A5;
    padding: 15px;
    h1 {
        color: whitesmoke;
    }
    p {
    font-style: italic;
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
    }
}

.valoruma-padding {
    padding-left: 15px;
    padding-right: 15px;
}

/*SCSS del prorrateo(quienes somos) versión de escritorio*/

$quienessomos: (
    porquehodor: #D5BFBF,
    creadores: #6D8299,
    colaboradores: #8CA1A5,
);

@each $var, $colorfondo in $quienessomos {
    .btn--#{var} {
        background-color: $colorfondo;
    }    
}

.Otrafoto--hodor {
    max-width: 120px;
    max-height: 120px;
}

.porquesomoshodor {
    background-color: map-get($quienessomos, porquehodor);
    padding: 10px;
}

.fancy-undeline {    
    background-image: linear-gradient(120deg, #757F9A,#757f9a 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    background-position: 0 80%;
    transition: background-size 0.25s ease-in;
    &:hover {
    background-size: 100% 88% !important;
    } 
}

.fancy-undeline_1 {
    background-image: linear-gradient(120deg, #D5BFBF,#D5BFBF 100%);
    @extend .fancy-undeline;
}

.Ajustandoelpadding {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.probandofoto {
    background-image: url(/Imagenes/imagen-hodor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @extend .Otrafoto--hodor;
}

.cajamolesta {
    background-color: map-get($quienessomos, porquehodor);
    width: 50%;
    height: auto;
    padding: 10px;    
}

.cajamolesta2 {
    background-color: map-get($quienessomos,     creadores);
    @extend .cajamolesta;
}

.cajamolesta3 {
    background-color: map-get($quienessomos, colaboradores);
    width: 100%;
    @extend .cajamolesta;
}

.ajustedecaja {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
}

/*SCSS de contacto de escritorio*/

.contacto-form {
    display: flex;
    flex-direction: column;
    background-color: #6D8299;
    form {display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 10px;   
        justify-content: center;
    }
}

/*SCSS de resultados versión de escritorio*/



/*CSS del index versión de la tablet*/

@media (min-width:768px) and (max-width:1023px) {

    .foto {
        width: 500px;
        height: 500px;
        transform: translatex(100px);
    }
}

.parrafoExplicativo {
    font-size: 20px;
}

/*CSS del Valor UMA versión de la tablet*/

/*No hay que tocar nada, responsive solo*/


/*CSS del index versión del celular*/

@media (min-width:375px) and (max-width:767px) {

    .foto {
        width: 250px;
        height: 250px;
        transform: translatex(30px);
    }

    .parrafoExplicativo {
        font-size: 16px;
    }
}

/*CSS del Valor UMA versión del celular*/

/*No hay que tocar nada, responsive solo*/






/*OJO CON LO QUE SIGUE, QUE LO VAMOS A DETONAR*/

/*CSS de Resultados*/

/*Versión de escritorio*/

.ResultadosSeccionPrincipal {
    background-image: linear-gradient(to left, rgb(66, 94, 250), rgb(152, 214, 250));
    padding: 20px;
    margin-bottom: 10px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "texto1 tabla1"
    "texto2 tabla2"
    "texto3 tabla3";
}

.texto1 {
    grid-area: texto1;
}    

.tabla1 {
    grid-area: tabla1;
}

.texto2 {
    grid-area: texto2;
}    

.tabla2 {
    grid-area: tabla2;
}

.texto3 {
    grid-area: texto3;
}    

.tabla3 {
    grid-area: tabla3;
}


/*Versión de la tablet*/

@media screen and (max-width:768px) {

    .ResultadosSeccionPrincipal {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "texto1 tabla1"
        "texto2 tabla2"
        "texto3 tabla3"; 
    }
}

.foto1 {
    width: 500px;
}

/*Versión del celular*/

@media screen and (max-width:480px) {

.ResultadosSeccionPrincipal {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "texto1"
    "tabla1"
    "texto2"
    "tabla2"
    "texto3"
    "tabla3";
}

.foto1 {
        width: 400px;
}      
}