* {
    margin: 0;
    padding: 0;
}

/*SCSS del index versión de escritorio*/

header {
    position: sticky;
    top: 0%;
    left: 0%;
}

.colorheader {
    background-color: #316b83 !important;
}

.colorletraheader {
    color: aliceblue;
}

.SalvandoPotatos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-size: x-large;    
    height: 220px;
    --bs-gutter-x: 0;
    padding-left: 10px;
    background-color: #6D8299;
}

.Otrafoto {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

h4 {
    font-style: italic;
    font-size: x-large;
}

.fondodeseccion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-image: url(../Imagenes/palacio-justicia.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #6D8299;
    background-blend-mode: multiply;
    min-height: 500px;
    gap: 10px;
}

.divdelafoto {
    display: flex;
    justify-content: center;
}

.foto {
    border-radius: 50%;
    max-width: 500px;
}

.fondodeparrafo {
    background-color: #8CA1A5;
    padding: 10px;   
}

.parrafoExplicativo {
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}

.boton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ajusteDeCard {
    min-height: 288px;
}

@mixin heigthdecard {
    max-height: 250px;
}

.fotodecard {
    @include heigthdecard;
}

footer {
    background-color: #D5BFBF;
    color: rgb(12, 14, 15);
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: auto;
}

.matamargen {
    margin: 0%;
}

/*SCSS de valor UMA versión escritorio*/

.valoruma-tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;   
    background-color: #8CA1A5;
    padding: 15px;
    h1 {
        color: whitesmoke;
    }
    p {
    font-style: italic;
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
    }
}

.valoruma-padding {
    padding-left: 15px;
    padding-right: 15px;
}

/*SCSS del prorrateo(quienes somos) versión de escritorio*/

$quienessomos: (
    porquehodor: #D5BFBF,
    creadores: #6D8299,
    colaboradores: #8CA1A5,
);

@each $var, $colorfondo in $quienessomos {
    .btn--#{var} {
        background-color: $colorfondo;
    }    
}

.Otrafoto--hodor {
    max-width: 120px;
    max-height: 120px;
}

.porquesomoshodor {
    background-color: map-get($quienessomos, porquehodor);
    padding: 10px;
}

.fancy-undeline {    
    background-image: linear-gradient(120deg, #757F9A,#757f9a 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    background-position: 0 80%;
    transition: background-size 0.25s ease-in;
    &:hover {
    background-size: 100% 88% !important;
    } 
}

.fancy-undeline_1 {
    background-image: linear-gradient(120deg, #D5BFBF,#D5BFBF 100%);
    @extend .fancy-undeline;
}

.Ajustandoelpadding {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.probandofoto {
    background-image: url(/Imagenes/imagen-hodor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @extend .Otrafoto--hodor;
}

.cajamolesta {
    background-color: map-get($quienessomos, porquehodor);
    width: 50%;
    height: auto;
    padding: 10px;
    padding-left: 20px;    
}

.cajamolesta2 {
    background-color: map-get($quienessomos,     creadores);
    @extend .cajamolesta;
}

.cajamolesta3 {
    background-color: map-get($quienessomos, colaboradores);
    width: 100%;
    @extend .cajamolesta;
}

.cajamolesta4 {
    @extend .cajamolesta;
    padding: 0%;
    border-right: 15px;
    border-color: black;
}

.cajamolesta5 {
    @extend .cajamolesta2;
    width: 100%;
}

.ajustedecaja {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
}

/*SCSS de contacto de escritorio*/

.contacto-form {
    display: flex;
    flex-direction: column;
    background-color: #6D8299;
    form {display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 10px;   
        justify-content: center;
    }
}

/*SCSS de resultados versión de escritorio*/

.matarow {
    --bs-gutter-x: 0rem;
}

/* Regulación medidor */
.form_mediador{
    width: 80%;
    margin: 16px auto;
    
    .btn-calcular{
        border: solid 1px;
        background-color: #316b83;
        color: aliceblue;
        
        &:hover{
            color: white;
            background-color: lighten(#316b83, 10%);
        }
    }
}
.mediador{
    min-height: 80vh;
}
.resultadoMediador{
    margin: 16px auto;
    width: 80%;

    p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 14px;
        line-height: 1.5;
    }
}

.toast{
    margin: 16px auto 48px auto;
    width: fit-content;
}
/*AJUSTANDO MEDIA QUERIES A TABLET*/

@media (min-width:768px) and (max-width:1023px) {

/*SCSS del index versión de la tablet*/

.parrafoExplicativo {
    font-size: 20px;
}

/*SCSS de prorrateo(quienes somos)*/

.Otrafoto--hodor {
    display: none;
}

.resultados-mobile {
    display: flex;
    flex-direction: reverse;
}

}


/*AJUSTANDO MEDIA QUERIES A CELULAR*/

/*SCSS del index*/

@media (min-width:320px) and (max-width:767px) {

    .parrafoExplicativo {
        font-size: 16px;
    }

/*SCSS de prorrateo(quienes somos)*/

.Otrafoto--hodor {
    display: none;
}

.ajustandoelmobile {
    display: flex;
    flex-direction: column;
}

.cajamolesta {
    width: 100%;
}

.cajamolesta2 {
    width: 100%;
}

/*SCSS de contacto*/

.ninovimo {
    display: none;
}

/*SCSS de resultados*/

.resultados-mobile {
    display: flex;
    flex-direction: reverse;
}

}